<div class="d-flex flex-wrap justify-content-center">
  <% Comment.all.each do |comment|%>
  <div class="card border-info my-2 mx-3 border-radius rounded" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= comment.content %></h5>
      <p class="card-text"><%= comment.user_id %></p>
      <p class="btn btn-outline-warning"><%= link_to 'Editer le commentaire', edit_gossip_comment(comment.id) %>
    </div>
  </div>
  </p>
  <% end %>
  </div>