<div class="jumbotron">
  <h1 class="display-4 text-white">Bienvenue <%= params[:id].capitalize %> !</h1>
  <p class="lead text-white">Découvre ce merveilleux site de potins</p>
    <p class="btn btn-warning text-white btn-md"><%= link_to "OK chef !", root_path %></p>
  <hr class="my-4">


