<body>
    <div class="row d-flex justify-content-around">
    <h2 class="font-weight-bold text-center my-4">Notre incroyable équipe</h2></div>
    <div class="card-group" class="mx-auto">
        <div class="container mt-5">
                <div class="d-flex justify-content-between">
                    <div class="col-md-4 d-flex">
                        <div class="card p-3 py-4 mx-2 flex-fill">
                            <div class="text-center"> <img src="http://4.bp.blogspot.com/-DtfHlKthC48/UJL5cwGchqI/AAAAAAAAAHU/NSpVvmM7LNg/s640/tumblr_mb9nb7OWuN1r9164to1_1280rhub.jpg" width="100" class="img-thumbnail"> </div>
                            <div class="text-center mt-3">
                                <h5 class="mt-2 mb-0">Mathias</h5> <span>Prost ! </span>
                                <div class="px-4 mt-1">
                                    <p class="fonts">"Pour définir l'ampleur d'un ragot, il suffit de calculer la recette des machines à café." </p>
                                </div>
                                <div class="buttons"> <button class="btn btn-outline-primary px-4"><a href="https://github.com/mrprst">Git</a></button> 
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-md-4 d-flex">
            <div class="card p-3 py-4 mx-2 flex-fill">
                <div class="text-center"> <img src="https://www.ecoreseau.fr/wp-content/uploads/2017/09/comerage-1068x712.jpg" width="100" class="img-thumbnail"> </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Violette</h5> <span>La Marquise ! </span>
                            <div class="px-4 mt-1">
                                <p class="fonts">"Ces commères lorgnaient même un endroit précis... Comme disait ce bon vieux Ge" </p>
                            </div>
                            <div class="buttons"> <button class="btn btn-outline-primary px-4"><a href="https://github.com/VioMrqs">Git</a></button> 
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-4 d-flex">
            <div class="card p-3 py-4 mx-2 flex-fill">
                <div class="text-center"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Honor%C3%A9_Daumier_003.jpg/440px-Honor%C3%A9_Daumier_003.jpg" width="100" class="img-thumbnail"> </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">Laurent</h5> <span>ChamCham </span>
                            <div class="px-4 mt-1">
                                <p class="fonts">"Il a bon dos !"</p>
                            </div>
                            <div class="buttons"> <button class="btn btn-outline-primary px-4"><a href="https://github.com/Laurent-Ch">Git</a></button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>