<body>
<h1>Notre incroyable équipe de commères</h1>
<div class="card-group" class="mx-auto">
        <div class="col-xl-3 col-sm-6 mb-5 d-flex justify-content-center">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="http://4.bp.blogspot.com/-DtfHlKthC48/UJL5cwGchqI/AAAAAAAAAHU/NSpVvmM7LNg/s640/tumblr_mb9nb7OWuN1r9164to1_1280rhub.jpg" alt="" width="100" class="img-fluid rounded-circle mb-2 shadow-sm">
                <h5 class="mb-0">Mathias</h5><span class="small text-uppercase text-muted">"Pour définir l'ampleur d'un ragot, il suffit de calculer la recette des machines à café."</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://www.narcity.com/media-library/the-office-reste-finalement-sur-netflix-canada-et-tu-peux-continuer-a-binge-watcher.jpg?id=26004992&width=1245&quality=85&coordinates=221%2C0%2C221%2C0&height=700" alt="" width="100" class="img-fluid rounded-circle mb-2 shadow-sm">
                <h5 class="mb-0">Violette</h5><span class="small text-uppercase text-muted">"xO-xO"</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
      </div>
    </body>

