<section class="mx-auto" style="width: 500px;">


<div class="row">

<!--Grid column-->
<div class="col-md-9 mb-md-0 mb-5">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez-nous</h2>
        <p class="text-center w-responsive mx-auto mb-5">Nous sommes à l'écoute de tous vos potins...</p>
          <br>
          <h2 class="h3-responsive font-weight-bold text-center my-4">Plus de détails sur nous</h2>
          <p class="text-center w-responsive mx-auto mb-5">contact@lesplusgrandescommeres.com <br>Made in Paris, Grand Bréguet</p>
</section>
