body {
  margin: 0;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}
.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}
.form-control {
  border: 1px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #ffffff;
  color: #2e323c;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

body{
  background: #f6f9fc;
  margin-top:20px;}
/* booking */

.bg-light-blue {
  background-color: #e9f7fe !important;
  color: #3184ae;
  padding: 7px 18px;
  border-radius: 4px;
}

.bg-light-green {
  background-color: rgba(40, 167, 69, 0.2) !important;
  padding: 7px 18px;
  border-radius: 4px;
  color: #28a745 !important;
}

.buttons-to-right {
  position: center;
  right: 0;
  top: 40%;
}

.btn-gray {
  color: #666;
  background-color: #eee;
  padding: 7px 18px;
  border-radius: 4px;
}


.booking:hover .buttons-to-right .btn-gray {
  opacity: 1;
  transition: .3s;
}

.buttons-to-right .btn-gray {
  opacity: 0;
  transition: .3s;
}

.btn-gray:hover {
  background-color: #20c997;
  color: #fff;
}

.booking {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.booking:last-child {
  margin-bottom: 0px;
  border-bottom: none;
  padding-bottom: 0px;
}

@media screen and (max-width: 575px) {
  .buttons-to-right {
      top: 10%;
  }
  .buttons-to-right a {
      display: block;
      margin-bottom: 20px;
  }
  .buttons-to-right a:last-child {
      margin-bottom: 0px;
  }
  .bg-light-blue,
  .bg-light-green,
  .btn-gray {
      padding: 7px;
  }
}

.card {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  box-shadow: none;
  border: none;
  padding: 25px;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.msg-img {
  margin-right: 20px;
}
.msg-img img {
  width: 60px;
  border-radius: 50%;
}
img {
  max-width: 100%;
  height: auto;
}
.jumbotron {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://i.pinimg.com/originals/8b/93/50/8b9350fb4c1ac524be6ad7144e77ffb3.jpg');
  background-size: cover;

}